{% extends "layout.html" %}

{% block body %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h3>Giriş Yapın</h3>
        <hr>
        <form method="post">
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input autocomplete="off" type="email" class="form-control" id="email" name="email">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input autocomplete="off" type="password" class="form-control" id="exampleInputPassword1" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Giriş Yap</button>
          </form>
    </div>
</div>

{% endblock body %}